.events-near-yous .events-near-yous-top {
	display: flex;
	position: relative;
	height: 100px;
	padding-top: 20px;
	width: 100%;
}

.events-near-yous .events-near-yous-top .events-near-yous-top-text .events-near-yous-top-text-top {
	font-family: 'Oswald', sans-serif;
	font-size: 1.4rem;
	color: #000;
	margin-bottom: 5px;
}

.events-near-yous .events-near-yous-top .events-near-yous-top-text .events-near-yous-top-text-bottom {
	color: #a0a0a0;
}

 .events-near-yous .events-near-yous-top .events-near-yous-top-content {
	color: #00a2c7;
	position: absolute;
	right: 30px;
}